[submodule "AuAg"]
	path = AuAg
	url = https://github.com/ktran9891/AuAg.git
[submodule "GASpy_Sandbox"]
	path = GASpy_Sandbox
	url = https://github.com/ktran9891/GASpy_Sandbox.git
[submodule "GASpy_regressions"]
	path = GASpy_regressions
	url = https://github.com/ktran9891/GASpy_regressions.git
