[submodule "GASpy_regressions"]
	path = GASpy_regressions
	url = git@github.com:ktran9891/GASpy_regressions.git
[submodule "GASpy_Sandbox"]
	path = GASpy_Sandbox
	url = git@github.com:ktran9891/GASpy_Sandbox.git
